.bg-dark {
    background-color: #1B1F38!important;
}

body{
	background-color: #15182B;
	font-family: 'Lato', sans-serif; 
	letter-spacing: 1px;
	font-size: 14px !important; 
}

.btn-red{
	color: #fff;
	background: #ED1555;
	font-size: 14px;
	 width: 100px;
}

h5{
	color: #fff;
	font-weight: bold;

}

.line {
  display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ED1555;
    margin-top: -7px;
    padding: 0;
    width: 45px;
}

.title{
	font-size: 14px;
	color: #fff;
}

.artist{
	font-size: 12px;
	color: #BABABA;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #262A4D;
}

.track-style .title{
	padding-bottom: 10px;
}

.track-style .artist{
	padding-bottom: 10px;
}